:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}
body {
  background-color: black;
}

.submitBtn {
  background-color: #fff;
}
.submitBtn:hover {
  box-shadow: 0px 5px 5px 0px rgba(255, 255, 255, 0.2),
    0px 5px 5px 0px rgba(255, 255, 255, 0.14),
    0px 5px 5px -1px rgba(255, 255, 255, 0.12);
}
.btn-to-top {
  background-color: #fff;
  width: 30px;
  height: 30px;
  z-index: 999;
  fill: black;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0.6;
  position: fixed;
  top: 90%;

  // background-color: var(--line-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;

  &:hover {
    opacity: 1;
  }
}
.btn-up-container {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  flex-direction: row;
  position: relative;
}

.search-form {
  padding: 10px;
  padding-top: 20px;

  text-align: center;
  // box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.2),
  //   0px 10px 10px 0px rgba(255, 255, 255, 0.14),
  //   0px 20px 10px -1px rgba(255, 255, 255, 0.12);
  background-color: black;
  margin-bottom: 10px;
}

.inputRequest,
.submitBtn {
  border-radius: 5px;
  height: 30px;
}
.info {
  display: flex;
  flex-wrap: wrap;
  // gap: 5px;
  justify-content: space-around;
  padding: 10px;
  &-item {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    text-align: center;
    color: white;
    text-decoration: none;
  }
}

.gallery {
  display: grid;
  width: 100%;

  // max-width: 1140px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  /* grid-auto-rows: 240px; */
  /* grid-gap: 12px; */
  /* row-gap: 20px; */
  gap: 20px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.gallery_link {
  text-decoration: none;
  box-shadow: 0px 1px 3px 0px rgba(255, 255, 255, 0.2),
    0px 1px 1px 0px rgba(255, 255, 255, 0.14),
    0px 2px 1px -1px rgba(255, 255, 255, 0.12);
  /* margin-bottom: 50px; */
}

.gallery_link:hover {
  box-shadow: 0px 10px 30px 0px rgba(255, 255, 255, 0.2),
    0px 10px 10px 0px rgba(255, 255, 255, 0.14),
    0px 20px 10px -1px rgba(255, 255, 255, 0.12);
  transform: scale(1.05);
}

/* .gallery__item { */
/* margin-left: 20px; */
/* margin-bottom: 20px; */
/* position: relative; */
/* box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); */
/* } */

// .gallery__image:hover {
//   /* transform: scale(1.03); */
// }

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery__link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery__link:hover {
  cursor: zoom-in;
}
